body {
  width: 80%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  margin: 5em auto;
  display: flex;
}

.blocks {
  margin: 0 0.2em;
  width: 50%;
  padding: 0.2em 0.8em;
  border: 2px solid rgb(40, 40, 66);
  border-radius: 5px;
}

button {
  border-radius: 20px;
  margin: 0 4px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

input {
  text-align: center;
}
